.vs
/win32
 
# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
.idea/
Library/
Assets/StreamingAssets
AssetBundles/
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.orig


